nome {
    color: red;
}

lugar {
    color: blue;
}

.center {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.quadra {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quadra2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
}